@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #000000;
}

body{
    font-family:'Poppins';
    background-color: #FFFFFF;
    margin: 0;
}
.burger{
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    margin-left: 94px;
}
.logo{
    width: 217px;
height: 20px;
}
.exit{
    width: 34px;
    height: 34px;
    float: right;
    margin: .5em;
    cursor: pointer;
}
.container{
    display: flex;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    height: 25px;
    padding: 20px;
    max-width: 375px;
}
nav.menu-btn{
    display: block;
}
nav{
    display: none;
    position: fixed;
z-index: 999;
width: 66%;
right: 0;
top: 0;
background-color: darkblue;
height: 100vh;
padding: 1em;

}
ul.first-nav{
    margin-top: 5em;
}
li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: right;
    
}
.container-1{
    text-align: center;
    max-width: 375px;
}
h1{
    margin-top: 52px;
}
text{
    margin-top: 24px;
}
.photo{
    width: 395px;
height: 235px;
margin-top: 36px;
}
.line{
    margin-top: 24px;
    border: 2px solid #000000;
    height: 0px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    
}
.author{
    text-align: start;
    max-width: 375px; 
    padding-left: 20px;
    margin-top: 24px;
    display: flex;
   
}
.photo-1{
    border-radius: 50%;
    width: 57px;
height: 57px;
}
.info{
    margin-left: 16px;
    text-transform: uppercase;
    font-size: 13px;
    
}
.social-media{
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
}
.icon-1{
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    padding: 17px 46px 17px 46px;

}
.icon-2{
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    padding: 17px 46px 21px 46px;
}
.icon-3{
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    padding: 17px 46px 17px 46px;
}
.wrap{
    max-width: 375px;
    padding-left: 20px;
    

    
}

h2{
    margin-top: 42px;
    
}
.photo-2{
    width: 395px;
height: 250px;
}
.third{
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}
.second-media{
    display: flex;
}
.line-1{
    height: 0px;
}
.author-1{
    margin-top: 28px;
    display: flex;
}
.photo-3{
    border-radius: 50%;
    width: 71.25px;
height: 71.25px;
}
.info-1{
    margin-left: 16px;
}
.line-2{
    width: 395px;
    margin-top: 91px;
}
.wrap-1{
    text-align: center;
    max-width: 395px;
}
h3{
    font-size: 32px;
}
.line-3{
    margin-top: 82px;
}
h4{
    font-size: 29px;
    
}
.seventh{
    padding-left: 20px;
}
label{
    display: inline-block;
    color: #FFFFFF;
    background-color: var(--primary-color);
    padding: 18px 17px 18px 17px ;
    
    
}
input{
    height: 54px;
    width: 283px;
}
.line-4{
    margin-top: 38px;
}
.links{
    background-color: #000000;
    color: #FFFFFF;
    max-width: 395px;
    flex-shrink: 0;
display: flex;
}
.wrap-2 a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 15px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.1em;
text-transform: uppercase;


}
.wrap a:nth-child(odd){
    font-weight: bold;
}
.logo-footer{
    width: 236px;
height: 22px;
margin-top: 100px;

}
.footer{
    background-color: var(--primary-color);
    max-width: 395px;
    text-align: center;
    align-items: center;
}
.text-footer{
    color: #FFFFFF;
    font-size: 13px;

}
.third-media a{
    font-size: 13px;
    color: #FFFFFF;
    padding-left: 10px;
text-align: center;

}
.wrap-2{
    margin-top: 52px;
}
.end-text{
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 64px;
}
