@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #000000;
}
body{
    font-family:'Poppins';
    background-color: #FFFFFF;
    margin: 0;
    overflow-x: hidden;
    
    
}
.burger{
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    margin-left: 94px;
     
    
}
.exit{
    width: 34px;
    height: 34px;
    float: right;
    margin: .5em;
    cursor: pointer;
    
}

.logo{
    width: 217px;
height: 20px;

}

.container{
    display: flex;
    max-width: 375px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    height: 25px;
    padding: 20px;
}
.photo{
    margin-top: 52px;
width: 375px;
}
.container-1{
    max-width: 375px;
    text-align: center;
}
h1{
    margin-top: 32px;
}
.text-1{
    margin-top: 24px;
}
h2{
    font-size: 32px;
line-height: 38px;
}
.container-2{
    max-width: 375px;
    text-align: center;
}
.block{
    margin-top: 42px;
    height: 280px;
}

.links{
    background-color: #000000;
    color: #FFFFFF;
    max-width: 375px;
    flex-shrink: 0;
display: flex;
}
.wrap a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 15px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.1em;
text-transform: uppercase;

}
.wrap a:nth-child(odd){
    font-weight: bold;
}
.logo-footer{
    width: 236px;
height: 22px;
margin-top: 100px;

}
.footer{
    background-color: var(--primary-color);
    max-width: 375px;
    text-align: center;
    align-items: center;
}
.text-footer{
    color: #FFFFFF;
    font-size: 13px;

}
.social-media a{
    font-size: 13px;
    color: #FFFFFF;
    padding-left: 10px;
text-align: center;

}
.wrap{
    margin-top: 82px;
}
.text-2{
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 64px;
}
nav.menu-btn{
    display: block;
}
nav{
    display: none;
    position: fixed;
z-index: 999;
width: 66%;
right: 0;
top: 0;
background-color: darkblue;
height: 100vh;
padding: 1em;

}
ul.first-nav{
    margin-top: 5em;
}
li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: right;
    
}
